.grid-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  margin: 2rem 0;
  font-size: 14px;
}

.column {
  width: 290px;
}

.footer-social {
  display: flex;
  gap: 2rem;
  padding: 0rem;
}

.footer-social li a span {
  display: none;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;

  font-size: 14px;
  color: gray;
}
.column h4 {
  padding: 0.5rem 2rem;
}
